@{
    var breadcrumb = $"{Context.Request.Path}".TrimStart('/').Split("/");
}

<div class="breadcontainer" style="height: 50px; position: absolute; top: 10%; left: 5vw; display: flex; align-items: center; justify-content: flex-start; z-index: 1;">
    <a asp-controller="Home" asp-action="Index">Home</a>
    @foreach (var path in breadcrumb)
    {
        <svg style="margin: auto 12px; width: 8px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.1 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" /></svg>
        <a>@path</a>
    }
</div>