
<partial name="_Navbar" />
<partial name="_Breadcrumb"/>

<div class="contactus_container">
    <div class="contactus">
        <div class="image">
            <h1>Contact Us!</h1>
        </div>
            <form class="contactus_form" action="post">
                <input type="text" placeholder="Your name here...">
                <input type="text" placeholder="Your Email here...">
                <input class="messagebox" type="text" placeholder="Your Message here...">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>