@using Exercise4_Digg_Webshop.Models.ViewModels;
@model LoginVM



<div class="adminbackground"></div>
<div class="admin_back_btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.2.1 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
    <a asp-controller="Home" asp-action="Index">Go Back</a>
</div>
<div class="admin_login_container">
    <form asp-action="Login" class="adminform">
        <h1>Welcome to the Admin View</h1>
        <h1>Log in</h1>
        <input asp-for="EmailAdress" placeholder="Insert Email here..." type="email"/>
        <span asp-validation-for="EmailAdress" class="text-danger"></span>
        <input asp-for="Password" placeholder="Insert Password here..." type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <button type="submit">Login</button>
    </form>
</div>